/* import google fonts - Ubuntu - 300 / Righteous / Rubik - 300 & 600 bold*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap'); /* goldman Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap'); /* goldman Regular 700 */




/* Page Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

/*====================
- Table of Contents -

1 - Sidebar

2 - profile image element

3 - Tag elements

4 - Main Contents (grid-boxes)

5 - About Me Section

6 - Mosiac Container (grid-boxes)

7 - Cards Container & Functions

8 - card elements

9 - About Me Section

10 - Footer container

11 - Footer Elements 

====================*/


html {
    min-height: 100vh;
    min-width: 100vw;
    /* background: linear-gradient(145deg, #a5c0f3 35%, #3a74ca); */
     /* background: linear-gradient(25deg,#88b9fa,#3a9b6eda); */
     background: linear-gradient(25deg,#88b9fa,#05ee81da);
} 

body {
    display: flex;
    flex-wrap: wrap; 
}

/*=========
1 - Sidebar 
 =========*/


@media(min-width: 600px) and (max-width: 1200px){
  .sidebar {
    background: linear-gradient(-0deg,#ffffff 80%,#a3a1a19d 20%);
    backdrop-filter:blur(200rm);
    flex: 1 1 20%;
    backdrop-filter: blur(2.5rem) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
  
  }  
}
/* transition from top bar to sidebar */
@media(min-width: 1200px){
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    background: linear-gradient(-0deg,#ffffff 80%,#a3a1a19d 20%);
    backdrop-filter:blur(200rm);
    flex: 1 1 20%;
    z-index: 2;

  }
}


@media(max-width: 600px){
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100vw;
    background: linear-gradient(-0deg,#ffffff 70%,#a3a1a19d 30%);
    backdrop-filter:blur(200rm);

    z-index: 2;

  }
}



/*=========
2 - Profile image 
 =========*/
.image-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}


.profile-image {
  background: thistle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  z-index: 3;
  box-shadow: 0px 0px 10px 3px #3a393991;
  
} 

nav.profile-image {
  background-image: url(./Assets/profile-image.jpg);
  background-size: cover;
  background-position: top;
  background-blend-mode:normal;
  margin-top: 3em;
  
}

.name {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-family: 'goldman', cursive;
  font-weight: 100;
  color: rgb(126, 2, 2);

}

span {
  font-family: 'Goldman', cursive;
  font-weight: 700;
  color: hsl(0, 40%, 4%);
}


@media(min-width: 600px) and (max-width: 1200px) {
  nav.profile-image {
    margin-top: 2.0em;

  }
}


@media(max-width: 600px){
  nav.profile-image {
    margin-top: 8.0em;
  
  }
}



/*=========
 3 - Nav - Tag elements 
 =========*/

 @media(min-width: 600px) and (max-width: 1200px) {
    .nav-tags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(88, 87, 87);
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: auto;
    margin-bottom: auto;
  }
}


@media(min-width: 1200px) {
  .nav-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    min-height: 40vh;
    margin-top: 8em; 
    margin-bottom: auto; /* try to push the nav-items up the page */
    font-family: 'Rubik', sans-serif;
    color: rgb(88, 87, 87);
    font-size: 1.5rem;
    font-weight: 100;

  }
}  


@media(max-width: 600px) {
  .nav-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    min-height: 30vh;
    margin-top: 3em; 
    margin-bottom: 3em; /* try to push the nav-items up the page */
   

  }
}

a:link, a:visited  {
  font-family:'Rubik', sans-serif;
  text-decoration: none;
  color: rgb(88, 87, 87);
  font-size: 1.5rem;
  font-weight: 100;
}

 
.nav-item:hover {
  cursor: pointer;
  font-size: 1.4rem;
  color: rgb(105, 103, 103);
  font-weight: bold;

}

/*=========
4 - Main Contents container
=========*/

h2 {
  color: white;
  font-family:'Rubik', sans-serif;
  font-size: 40px;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

  p {
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;  
    
  }
  
.main-content{
   padding: 10%;
   flex: 1 1 80%;
   /* margin-left: auto;
   margin-right: auto; */
   margin-bottom: auto;
   min-height: 100%;
  
 }



/*=========
5 - About Me Section
=========*/

.about-container {
  margin-bottom: 4em;
  /* position: relative;
  margin-top: auto; */
}





/*=========
6 - Mosiac Container (grid-boxes)
=========*/

.mosiac-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8, 1fr));
    grid-template-rows: repeat(8, 1fr);
    grid-gap:15px;
    min-height: 100%;
 }

 

/*========
7 - Cards Container & Functions
========*/

.cards {
    background: rgba(105, 172, 235, 0.767);
    box-shadow: rgba(141, 140, 138, 0.945);
    font-family: 'Righteous', cursive;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1.5px rgba(66, 66, 66, 0.548);
    z-index: 1;
}


.cards:hover {
  background-color:whitesmoke;
  background-blend-mode:multiply;
  /* background-position:center; */
  transition: all ease-in-out 500ms;
  
}

@media (max-width: 600px) {
.cards {
  font-size: 1.3rem;
}
}



/*========
8 - card elements
========*/

.card-one {
  grid-area:1 / 1 / 4 / 6;
  background-image: url(./Assets/mount-fuji-sunset.jpg) ;
  background-size: cover;
  background-position: top;
  background-blend-mode: multiply;
  
}

.card-two {
  grid-area: 1 / 6 / 3 / 9;
  background-image: url(./Assets/Multi-coloured-building.jpg) ;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

}

.card-three {
  grid-area: 3 / 6 / 5 / 9;
  background-image: url(./Assets/Criss-cross-buildings.jpg) ;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.card-four {
  grid-area: 4 / 4 / 5 / 6;
  background-image: url(./Assets/Orange-Cab.jpg) ;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

}

.card-five {
  grid-area: 4 / 1 / 7 / 4;
  background-image: url(./Assets/LED-Image.jpg) ;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

}

.card-six{
  grid-area:5 / 4 / 7 / 9;
  background-image: url(./Assets/Black-Cab.jpg) ;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

}

.card-seven {
  grid-area: 7 / 1 / 10 / 6;
  background-image: url(./Assets/Red-Phonebox.jpg) ;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

}

.card-eight {
  grid-area: 7 / 6 / 10 / 9;
  background-image: url(./Assets/Sunset.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

}



/*========
10 - Footer container
========*/

 footer {
  background: linear-gradient(125deg,#ffffff 80%,#5f5b5bbd 20%);
   /* min-width: 100%; */
  position: relative;
   backdrop-filter:blur(15px);
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 1.5rem;
   z-index: 3;
 }

 .footer-links {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
 }


 .footer-nav {
   width: 50px;
   height: 20px;
 }

 /*========
11 - Footer Elements
========*/


